@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* padding-top: 60px; */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  background-color: #333;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

/* globals.css */
.hidden {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}